.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 27px 0;
}

.card {
margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(255, 183, 0, 0.961);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 30, 0.954);
}

.deaths {
    border-bottom: 10px solid rgba(242, 16, 16, 0.92);
}

@media (max-width: 770px){
    .card{
        margin: 2% 0 !important;
    }
}